# Node.js dependencies
node_modules/

# Compiled output
dist/

# Firebase configuration files
firebase.json
.firebaserc

# Firebase functions dependencies (if you're using Firebase Functions)
functions/node_modules/

# Environment variables (store sensitive information elsewhere)
.env

# Editor and IDE files
.vscode/
.idea/
*.sublime-*

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled TypeScript files
*.tsbuildinfo


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
*.tsbak
*.tscache
*.tsdoc
*.tslint
tsconfig.json
tsconfig.*.json